{
    # debug #access debug log
    order waf first
    log {
        level DEBUG
        format json
        output file /tmp/caddywaf.log {
            roll_size 500MiB
            roll_keep 5
            roll_keep_for 720h
        }
    }

    #auto_https off

    # Optional: set root folder for Caddyfile and Certificates
    storage file_system {
        root /srv/caddy
    }
    email tech@airdb.net

}

http://bbs.baobeihuijia.com:1111 {
    log {
        output file /tmp/caddywaf.log
    }

    header /* {
        -Server
    }

     waf stdout
     reverse_proxy  http://115.159.93.223:8888
}

https://bbs.baobeihuijia.com {
    log {
        output file /tmp/caddywaf.log
    }

    header /* {
        -Server
    }

     waf stdout
     reverse_proxy  http://115.159.93.223:8888
}

https://airdb.net {
    encode gzip

    #waf stdout
    reverse_proxy  http://127.0.0.1:8000
    #root * /srv/www
    #file_server browse
}

https://dev.airdb.net {
    encode gzip

    reverse_proxy  http://127.0.0.1:7000
}
