{
	# debug #access debug log
	order waf first
}

http://aid.run:8888 {

    log {
       level DEBUG
       # output stderr
       output file /tmp/caddywaf.log
    }

    respond /healthz "Im healthy!" 200
    respond /ok "Im healthy!" 200

    waf stdout
        # header_upstream Host {host}
        # header_upstream X-Real-IP {remote}
        # header_upstream X-Forwarded-For {remote}
        # header_upstream X-Forwarded-Proto {scheme}
    #reverse_proxy / {
    #    to http://sg.airdb.host
    #}

     reverse_proxy / {
        to http://127.0.0.1:8000
    } 

}

http://127.0.0.1:8000 {
    respond / "Im healthy!" 200
    respond /hello "Im healthy!" 200
}

http://aid.run:8080 {
    root * /tmp/
    file_server browse
}